*{
	margin: 0;
	padding: 0;
} 

body {
	overflow-x: hidden;
	background-color: rgb(255, 255, 255) !important;
	width: 100%;
	position: relative;
	height: auto;
	display: block;
	font-family: 'Hind Vadodara', sans-serif;
	color: white;
	clear: both;
	margin: 0;
	padding: 0;
}

header {
	width: 100wv;
}

h4 {
	text-align: center;
}

.headerImg {
	width: 100vw;
	height: 180px;
	position:relative;
	background-image: url("header5.png");
}

.headerTitle {
	margin-top: 70px;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}


.headerTitle h1, footer p {
	margin-left: 8.33%;
	color: #f9f6f6;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

.headerTitle h1 {
	font-size: 50px;
}

footer {
	background-color: #c7caf7;
	position: flex;
	padding: 2px;
	bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	overflow-x: hidden;
}

.content {
	width: 63.33%;
	min-height: 700px;
	margin: 0 17.33%;
	border-right: 1px solid #68B2DF;
	border-left: 1px solid #68B2DF;
	box-shadow: 5px 0 12px -3px rgb(164, 195, 241),
    -5px 0 12px -3px rgb(164, 195, 241);
	flex: 1;
	clear: both;
	display: flex;
	color: #887c7c;
}

.button {
	width: 100%;
	padding: 1;
	margin:5% 0;
	height: 50px;
	font-family: monaco, Consolas, "Lucida Console", monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	background-color: #badbde;
	border: 1px solid #68B2DF;
	color: #736caf;
}

.button:hover {
	box-shadow: 0 10px 12px 0 rgb(153, 202, 231), 0 10px 30px 0 rgba(56, 55, 55, 0.19);
	
}

.row {
	margin-left: 0 !important;
	width: 100%;
}

h2 {
	text-align: center
}

#kelionesTable {
	width: 80%;
	margin: 0 10%;
	border-collapse: collapse;
}

#kelionesTable td {
	width: 25%;
	border: 1px solid rgb(164, 195, 241);
	height: 50px
}

#uzsakymasTable, .kelioneInfoTable{
	width: 60%;
	margin: 5% 20%;
	border-collapse: collapse;
	border: 1px 0 1px 0 solid rgb(164, 195, 241);
}
#uzsakymasTable td, .kelioneInfoTable td {
	border-bottom: 1px solid rgb(164, 195, 241);
	padding: 8px;
	width: 50%;
}

.infoBox{
	width: 80%;
	margin: 3% 10%;
	border: 1px solid rgb(164, 195, 241);
}


#uzsakymasForm {
	width: 60%;
	margin: 3% 20%;
}

#uzsakymasForm label, select {
	height: 50px;
}

#topMenu {
	font-size: 13px;
	width: 100%;
	height: 50px;
	float: left;
	z-index: 999;
	padding-right: 100px;
	padding-left: 100px;
	border-bottom:  1px solid #887c7c;
}

#topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topMenu li {
	margin-top: 1px;
	float: left;
}

#topMenu li a {
	display: block;
	color: #9a8b8b;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 16px;
	min-height: 48px;

}

#topMenu li a:hover:not(.active) {
	background-color: #badbde;

}


.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
	cursor: pointer;
	text-align: center;
}

.dropdown {
    position: relative;
	display: inline-block;
	text-align: center;
	min-width: 50px;
	width: 150px;
}

.dropdown-content {
    display: none;
    right: 0;
	width: 100%;
	min-height: 50px;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;
	z-index: 2;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
    background-color: #badbde9c;
}

.dropdown:hover .dropbtn {
    background-color: #badbde;
}
.nav{
	min-height: 100%;
}

.center {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
