*{
	margin: 0;
	padding: 0;
} 

body {
	overflow-x: hidden;
	background-color: #222 !important;
	width: 100vw;
	position: relative;
	height: auto;
	display: block;
	font-family: 'Hind Vadodara', sans-serif;
	color: white;
	clear: both;
	margin: 0;
	padding: 0;
}

header {
	width: 100wv;
}

.headerImg {
	width: 100vw;
	height: 180px;
	background-image: url("header.jpg");
}

.headerTitle {
	margin-top: 70px;
	background-color: white;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}

.headerTitle h1, footer p {
	margin-left: 8.33%;
	color: #111;
}

.headerTitle h1 {
	font-size: 40px;
}

footer {
	background-color: white;
	position: flex;
	padding: 5px;
	bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	overflow-x: hidden;
}

.content {
	width: 83.33%;
	min-height: 800px;
	margin: 0 8.33%;
	border-right: 1px solid #68B2DF;
	border-left: 1px solid #68B2DF;
	box-shadow: 0px 0px 40px -5px rgba(104,178,223,1);
	flex: 1;
	clear: both;
	display: flex;
	color: white;
}

.button {
	width: 100%;
	padding: 0;
	margin-top:5%;
	height: 50px;
	background-color: #343434;
	border: 1px solid #68B2DF;
	color: white;
}

.button:hover {
	box-shadow: 0px 0px 40px -5px rgba(104,178,223,1);
}

.row {
	width: 100%;
}

h2 {
	text-align: center;
}

#kelionesTable {
	width: 80%;
	margin: 0 10%;
}

#kelionesTable td {
	width: 25%;
}
#topMenu {
	font-size: 13px;
	width: 100%;
	height: 50px;
	float: left;
	z-index: 999;
	padding-right: 100px;
	padding-left: 100px;
}

#topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#topMenu li {
	margin-top: 1px;
	float: left;
}

#topMenu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	height: 16px;
}

#topMenu li a:hover:not(.active) {
	background-color: inherit;
}


.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
	cursor: pointer;
	text-align: center;
}

.dropdown {
    position: relative;
	display: inline-block;
	text-align: center;
	min-width: 50px;
	width: 150px;
}

.dropdown-content {
    display: none;
    right: 0;
	width: 100%;
	min-height: 50px;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;
	z-index: 2;
}

.dropdown-content li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
