*{
	margin: 0;
	padding: 0;
} 

body {
	overflow-x: hidden;
	background-color: #222;
	width: 100vw;
	position: relative;
	height: auto;
	display: block;
	font-family: 'Hind Vadodara', sans-serif;
}

header {
	width: 100wv;
}

.headerImg {
	width: 100vw;
	height: 180px;
	background-image: url("header.jpg");
}

.headerTitle {
	margin-top: 80px;
	background-color: white;
	padding: 5px;
	position: absolute;
	width: 100%;
	overflow-x: hidden;
}

.headerTitle h1, footer p {
	margin-left: 8.33%;
}

.headerTitle h1 {
	font-size: 40px;
}

footer {
	background-color: white;
	position: flex;
	padding: 5px;
	bottom: 0;
    left: 0;
    right: 0;
	width: 100%;
	overflow-x: hidden;
}

.content {
	width: 83.33%;
	min-height: 800px;
	margin: 0 8.33%;
	border-right: 1px solid #68B2DF;
	border-left: 1px solid #68B2DF;
	box-shadow: 0px 0px 40px -5px rgba(104,178,223,1);
}
